{% extends 'layout.html' %}
    
{% block title %}
    Página para Confirmar Eliminar Producto
{% endblock %}

{% block content %}
    <hr>
        <h3>
            Por Favor Confirma que desea Eliminar el Siguiente Producto
        </h3>
    <hr>
        <table border="3">
            <thead>
                <th>id</th>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Categoría</th>
                <th>Precio</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{rstDB[0]}}</td>
                    <td>{{rstDB[1]}}</td>
                    <td>{{rstDB[2]}}</td>
                    <td>{{rstDB[3]}}</td>
                    <td>{{rstDB[4]}}</td>
                </tr>
            </tbody>
        </table>
    <hr>
    <table>
        <thead>
            <th></th>
            <th></th>
            <th></th>
            <th>
                <form action="/">
                    <button>
                        <h4>Cancelar</h4>
                    </button>
                </form>
            </th>
            <th></th>
            <th>
                <form action="{{url_for('eliminar_datos')}}" method="POST">
                    <input type="hidden" name="id" value="{{rstDB[0]}}">
                    <button>
                        <h4>Eliminar</h4>
                    </button>
                </form>
            </th>
        </thead>
    </table>
    <hr>
{% endblock %}