{% extends 'layout.html' %}

{% block title %}
    Página de Contenido
{% endblock %}

{% block content %}
    <h2>
        Programando ando...
    </h2>

    <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/E8hCddXmySk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
    <iframe width="560" height="315" src="https://www.youtube.com/embed/PKq_K8EJ3UI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <h3>
        Texto
    </h3>
{% endblock %}