{% extends 'layout.html' %}

{% block title %}
    Página de Inicio
{% endblock %}

{% block content %}
    <h1>
        Hola Tripulantes
    </h1> 
    <br> 
    <h2>
        Aprendiendo Flask... 
    </h2>
    <hr>
        <h3>
            Para agregar nuevos productos click en: <a href="{{url_for('registrar_productos')}}">Registrar Productos</a>
        </h3>
    <hr>
    <table border="3">
        <thead>
            <tr>
                <th>id</th>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Categoría</th>
                <th>Precio</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {% for db in rstDB %}
            <tr>
                <td>{{db[0]}}</td>
                <td>{{db[1]}}</td>
                <td>{{db[2]}}</td>
                <td>{{db[3]}}</td>
                <td>{{db[4]}}</td>
                <td>
                    <!-- 1ra Opción para pasar por valor el id => debo recibir el parámetro en la función -->
                    <!-- <a href="{{url_for('editar_productos', id = db[0])}}">Editar</a> -->
                    <!-- 2ra Opción para pasar por valor el id -->
                    <form action="{{url_for('editar_productos')}}" method="POST">
                        <input type="hidden" name="id" value="{{db[0]}}">
                        <button>Editar Datos</button>
                    </form>
                </td>
                <td>
                    <form action="{{url_for('confirmar_eliminar_dato')}}" method="POST">
                        <input type="hidden" name="id" value="{{db[0]}}">
                        <button>Eliminar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
    
    <!-- <h3>  -->
        <!-- rstDB Conexión = {{rstDB}} -->
    <!-- </h3> -->
    <p>
        HTML (Lenguaje de Marcas de Hipertexto, del inglés HyperText 
        Markup Language) es el componente más básico de la Web. 
        Define el significado y la estructura del contenido web. 
    </p>
    <img class="cImg" src="https://lms.uis.edu.co/mintic/pluginfile.php/1/theme_essential/slide2image/1632326966/1.jpg" alt="Imagen no disponible">
{% endblock %}
