{% extends 'layout.html' %}

{% block title %}
    Página de Información
{% endblock %}

{% block content %}
    <h1>
        Contenido de HTML
    </h1>

    <p>
        HTML (Lenguaje de Marcas de Hipertexto, del inglés HyperText Markup Language) es el componente más básico de la Web. Define el significado y la estructura del contenido web. Además de HTML, generalmente se utilizan otras tecnologías para describir la apariencia/presentación de una página web (CSS) o la funcionalidad/comportamiento (JavaScript).
    </p>
    <p>
        "Hipertexto" hace referencia a los enlaces que conectan páginas web entre sí, ya sea dentro de un único sitio web o entre sitios web. Los enlaces son un aspecto fundamental de la Web. Al subir contenido a Internet y vincularlo a las páginas creadas por otras personas, te conviertes en un participante activo en la «World Wide Web» (Red Informática Mundial).
    </p>
    <p>
        HTML utiliza "marcas" para etiquetar texto, imágenes y otro contenido para mostrarlo en un navegador Web. Las  marcas HTML incluyen "elementos" especiales como head, title, body, header, footer, article, section, p>, div>, span>, img>, aside>, audio>, canvas>, datalist>, details>, embed>, nav>, output>, progress>, video>, ul>, ol>, li> y muchos otros.
    </p>
    <p>
        Un elemento HTML se distingue de otro texto en un documento mediante "etiquetas", que consisten en el nombre del elemento rodeado por "mayor que" y ">". El nombre de un elemento dentro de una etiqueta no distingue entre mayúsculas y minúsculas. Es decir, se puede escribir en mayúsculas, minúsculas o una mezcla. Por ejemplo, la etiqueta title> se puede escribir como Title>, TITLE> o de cualquier otra forma.
    </p>
    <img class="cImg" src="https://lms.uis.edu.co/mintic/pluginfile.php/1/theme_essential/slide1image/1632326966/CONFERENCIA-S%C3%81BADO-25-DE-SEPTIMEBRE.jpg" alt="Imagen Privada" ">
{% endblock %}
