<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Document</title>
</head>
<header>
    <img src="{{url_for('static', filename='img/UIS_MisionTIC.png')}}" alt="Logo Misión TIC UIS.">
    <h3>
        {% block title %}
            Título/Sección de Página
        {% endblock %}
    </h3>
    <ul>
        <li>
            <a href="/">Inicio</a>
        </li>
        <li>
            <a href="{{url_for('informacion')}}">Información</a>
        </li>
        <li>
            <a href="{{url_for('contenido')}}">Contenido</a>
        </li>
    </ul>
</header>
<body>
    {% block content %}
        Contenido de la Página...
    {% endblock%}
</body>
</html>

{#

{% extends 'layout.html' %}

{% block title %}

{% endblock %}

{% block content %}

{% endblock %}

#}