

{% extends 'layout.html' %}

{% block title %}
    Página para insertar datos
{% endblock %}

{% block content %}
    <section>
        <div>
            <hr>
            <h3>Registrar Producto</h3>
            <hr>
            <form action="{{url_for('guardar_datos')}}" method="POST">
                <label for="nombre">Nombre Producto</label>
                <input type="text" name="nombre"> <br>

                <label for="cantidad">Cantidad</label>
                <input type="number" name="cantidad"> <br>

                <label for="categoria">Categoría</label>
                <input type="text" name="categoria"> <br>

                <label for="precio">Precio</label>
                <input type="any" name="precio"> <br> <br>

                <input type="reset" value="Borrar Datos">
                <input type="submit" value="Guardar Datos"> <br> 
                <!-- Otra forma de agregar botón -->
                <!-- <button>Guardar</button> -->
                
            </form>
            <hr>
        </div>
        <a href="/">Cancelar</a>
    </section>
{% endblock %}