
body{
    /* background-color: red; */
    font-family:'Courier New', Courier, monospace;
}
/* 
header{
    background-color: yellow;
} */

.cImg{
    width: 60%;
}


/* 

{% extends 'layout.html' %}

{% block title %}

{% endblock %}

{% block content %}

{% endblock %}


*/