
body{
    /* background-color: red; */
    font-family:'Courier New', Courier, monospace;
}
/* 
header{
    background-color: yellow;
} */

.cImg{
    width: 60%;
}


/*

Conexión a la base de datos
https://www.udemy.com/course/master-en-python-aprender-python-django-flask-y-tkinter/learn/lecture/20329061#overview

Insertar datos
https://www.udemy.com/course/master-en-python-aprender-python-django-flask-y-tkinter/learn/lecture/20329073#questions

Python CRUD MySQL  -   Creo que es PyMySQL
https://parzibyte.me/blog/2021/03/29/flask-mysql-ejemplo-conexion-crud/


pymysql – Controlador de base de datos MySQL
https://recursospython.com/guias-y-manuales/pymysql-controlador-base-de-datos-mysql/


Flask-MySQL
https://flask-mysql.readthedocs.io/en/latest/#

¡Bienvenido a la documentación de Flask-MySQLdb!  
=> No me funciona, soporte hasta Python 3.7
https://flask-mysqldb.readthedocs.io/en/latest/


*/



/* 

{% extends 'layout.html' %}

{% block title %}

{% endblock %}

{% block content %}

{% endblock %}


*/