{% extends 'layout.html' %}

{% block title %}
    Página de Contenido
{% endblock %}

{% block content %}
    <h1>
        Video UIS:
    </h1>
    
    <iframe width="560" height="315" src="https://www.youtube.com/embed/PKq_K8EJ3UI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% endblock %}
