{% extends 'layout.html' %}

{% block title %}
    Página de Ruta Parámetro
{% endblock %}
    
{% block content %}
    <h1>
        Ruta Parámetro...
    </h1>
    <p>
        Contenido que pasa por variable:
    </p>

    <!-- Nombre variable que pasa por variable desde el controlador a la plantilla -->
    <!-- Doble llave para especificar que es una variable -->
    {{texto}}
    <!-- para que me interprete la página el formato html,
            debo asignarle |safe => para utilizar el filtro de la tubería-->
    <br>
    {{texto|safe}}

    <!-- Otra forma sería, únicamente pasándole el texto, sin la etiqueta 
        de hecho, es la forma correcta, pasar etiquetas sería dudoso...-->
    <h1>
        {{texto}}
    </h1>


{% endblock %}
